#game-area {
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#prompt {
    border: 1px solid blue;
    width: 300px;
    text-align: center;
}

#gameplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#buttons {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

#computer-move {
    border: 1px solid red;
}

#scores {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#player-score {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#computer-score {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
}