@font-face {
    font-family: 'Oswald';
    src: url('./Oswald-VariableFont_wght.ttf');
}


* {
    font-family: 'Oswald';
}

#game-area {
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#prompt {
    border: 1px solid blue;
    width: 300px;
    text-align: center;
}

#gameplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#player-move {
    border: 1px solid blue;
}

.name {
    text-align: center;
}

#buttons {
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
}

#buttons button {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
    box-shadow: inset 0px 0px 2px 2px darkblue;
    border-radius: 100%;
}

#rockButton {
    background: url('./blur_circular_FILL0_wght400_GRAD0_opsz48.svg');
}

#paperButton {
    background: url('./description_FILL0_wght400_GRAD0_opsz48.svg');
}

#scissorsButton {
    background: url('./cut_FILL0_wght400_GRAD0_opsz48.svg');
}

#player-score {
    border: 1px solid blue;
    display: grid;
    text-align: center;
}

#computer-move {
    border: 1px solid red;
}

#computer-display {
    border: 1px solid purple;
    height: 150px;
    position: relative;
}

#comp-move {
    height: 50px;
    width: 50px;
    border: 1px solid purple;
    border-radius: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}

#comp-move.rock {
    background: url('./blur_circular_FILL0_wght400_GRAD0_opsz48.svg');
}

#comp-move.paper {
    background: url('./description_FILL0_wght400_GRAD0_opsz48.svg');
}

#comp-move.scissors {
    background: url('./cut_FILL0_wght400_GRAD0_opsz48.svg');
}

#computer-score {
    border: 1px solid red;
    display: grid;
    text-align: center;
}

#game-status {
    display: flex;
    flex-direction: column;
}

#game-message {
    margin-left: auto;
    margin-right: auto;
}

#resetButton {
    margin-left: auto;
    margin-right: auto;
}