#game-area {
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#prompt {
    border: 1px solid blue;
    width: 300px;
}

#gameplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#buttons {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

#opponent-move {
    border: 1px solid red;
}

#results {
    border: 1px solid blue;
    width: 300px;
}